@font-face {
    font-family: 'Alright Sans';
    src: url('./fonts/AlrightSans-Medium.eot');
    src: url('./fonts/AlrightSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/AlrightSans-Medium.woff2') format('woff2'),
        url('./fonts/AlrightSans-Medium.woff') format('woff'),
        url('./fonts/AlrightSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alright Sans';
    src: url('./fonts/AlrightSans-BoldItalic.eot');
    src: url('./fonts/AlrightSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/AlrightSans-BoldItalic.woff2') format('woff2'),
        url('./fonts/AlrightSans-BoldItalic.woff') format('woff'),
        url('./fonts/AlrightSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alright Sans';
    src: url('./fonts/AlrightSans-Bold.eot');
    src: url('./fonts/AlrightSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/AlrightSans-Bold.woff2') format('woff2'),
        url('./fonts/AlrightSans-Bold.woff') format('woff'),
        url('./fonts/AlrightSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alright Sans';
    src: url('./fonts/AlrightSans-MediumItalic.eot');
    src: url('./fonts/AlrightSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/AlrightSans-MediumItalic.woff2') format('woff2'),
        url('./fonts/AlrightSans-MediumItalic.woff') format('woff'),
        url('./fonts/AlrightSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Brothers';
    src: url('./fonts/Brothers-Bold.eot');
    src: url('./fonts/Brothers-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Brothers-Bold.woff2') format('woff2'),
        url('./fonts/Brothers-Bold.woff') format('woff'),
        url('./fonts/Brothers-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alright Sans';
    src: url('./fonts/AlrightSans-Light.eot');
    src: url('./fonts/AlrightSans-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/AlrightSans-Light.woff2') format('woff2'),
        url('./fonts/AlrightSans-Light.woff') format('woff'),
        url('./fonts/AlrightSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alright Sans';
    src: url('./fonts/AlrightSans-Regular.eot');
    src: url('./fonts/AlrightSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/AlrightSans-Regular.woff2') format('woff2'),
        url('./fonts/AlrightSans-Regular.woff') format('woff'),
        url('./fonts/AlrightSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Alright Sans';
    font-weight: 400;
    font-size: 17px;
    color: rgb(35 31 32 / 0.70);
}
a {
    text-decoration: none !important;
    font-weight: 700;
    color: #0d4b83;
    -moz-transition: color .18s linear;
    -o-transition: color .18s linear;
    -webkit-transition: color .18s linear;
    transition: color .18s linear;
}
img{
    max-width: 100%;
}
.text-white{
    color: #fff;
}
.font-weight-normal{
    font-weight: 400;
}
.font-weight-bold{
    font-weight: bold;
}
.font-weight-light{
    font-weight: 300;
}
.font-weight-medium{
    font-weight: 500;
}
.text-uppercase{
    text-transform: uppercase;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-5{
    margin-bottom: 5px;
}
.mt-30{
    margin-top: 30px;
}
.mt-50{
    margin-top: 50px;
}
.mt-20{
    margin-top: 20px;
}
.pt-20{
    padding-top: 20px;
}
.pt-30{
    padding-top: 30px;
}
.pt-40{
    padding-top: 40px;
}
.color-blue{
    color: #0084b0;;
}
.color-green{
    color: #41ad49;
}
.text-light-blue{
    color: #68cef2;
}
.bg-blue{
    background-color: #0084b0;;
}
.bg-green{
    background-color: #41ad49;;
}
.fs-28{
    font-size: 28px;
}
.fs-24{
    font-size: 24px;
}
.fs-25{
    font-size: 25px;
}
.fs-68{
    font-size: 68px;
}
.fs-48{
    font-size: 48px;
}
.fs-20{
    font-size: 20px;
}
.fs-33{
    font-size: 33px;
}
.fs-36{
    font-size: 36px;
}
.fs-17{
    font-size: 17px;
}
.fs-11{
    font-size: 11px;
}
.fs-42{
    font-size: 42px;
}
.ls-15{
    letter-spacing: 1.5px;
}

.btn-theme{
    border-radius: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 5px 20px 10px 20px;
}

.btn-theme:hover{
    background-color: #68cef2;
    color: #fff;
}
.banner-section{
   
   position: relative;
}
.banner-section .img-banner{
    width: 100%;
}
.banner-section .content-c{
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    width: 100%;
}


.request-sample img{
    position: relative;
    top: -140px;
}

.request-sample .ccs-content {
    padding-top: 10rem;
    padding-bottom: 8rem;
}
.what-iscon{
    border-top: 24px solid #68cef2;
    padding-bottom: 10rem;
}


.what-iscon img{
    position: relative;
    margin-top: -120px;
}
.use-convexity{
    padding: 5rem 0;
}
hr {
  
    border-top: 1px solid rgb(35 31 32 / 0.70);
}
.find-perfect-fit{
    background-color: rgb(65 173 73 / 0.15);
    margin-top: 10rem;
}

.find-perfect-fit .content-right-prefect {
    padding-top: 5rem;
}

.find-perfect-fit .men-with-m{
    position: relative;
    top: -30px;
    left: -70px;
}
.need-more-help{
    margin-top: 12px;
    padding-bottom: 2rem;
}
.footer{
    margin-top: 15rem;
}
.footer .footer-nav {
    min-height: 42px;
    padding: 12px 0;
    position: relative;
    background-color: #f2f2f2;
}

.footer .links .cell {
    text-align: center;
}
.table {
    display: table;
    height: 100%;
    margin-bottom: 0;
}
.refrence{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.refrence ul{
    margin: 0%;
    padding: 0;
    list-style: none;
    counter-reset: my-sec-counter;
}
.refrence ul li:before{
    content: '';
    counter-increment: my-sec-counter;
  content:  counter(my-sec-counter) ". ";
}
.b-4-center-content{
    display: flex;
    align-items: center;
}
@media only screen and (min-width: 768px){
    .footer .footer-nav .col-md-8.col-xs-12.links.pull-right .row {
        display: flex;
        align-items: center;
    }
}
@media only screen and (max-width: 991px) {
    .fs-28{
        font-size: 24px;
    }
    .fs-24{
        font-size: 20px;
    }
    .fs-25{
        font-size: 21px;
    }
    .fs-68{
        font-size: 38px;
    }
    .fs-48{
        font-size: 28px;
    }
    .fs-20{
        font-size: 16px;
    }
    .fs-33{
        font-size: 27px;
    }
    .fs-36{
        font-size: 28px;
    }
    .fs-17{
        font-size: 16px;
    }

    .fs-42{
        font-size: 21px;
    }
    .request-sample .ccs-content {
        padding-top: 0px;
        padding-bottom: 15rem;
    }
    .find-perfect-fit .content-right-prefect {
     
        padding-bottom: 5rem;
    }
}
@media only screen and (max-width: 991px){
    .request-sample img{
        top: 0;
        margin-top: 30px;
    }
    .footer {
        margin-top: 5rem;
    }

    .find-perfect-fit .men-with-m{
        left: 0;
    }
}
@media only screen and (max-width: 575px){
    .fs-24 {
        font-size: 16px;
    }
    .fs-68 {
        font-size: 26px;
    }
    .fs-20 {
        font-size: 16px;
    }
    h1.fs-68.text-white.ls-15.font-weight-bold.mb-20 {
        margin: 6px 0px;
    }
    h3.fs-24.text-white.font-weight-normal.text-uppercase.mb-30 {
        margin-bottom: 5px;
    }
    .find-perfect-fit .men-with-m{
        margin-top: 30px;
       top: 0;
    }
    
}